#fish {
	text-align: center;
}

#fish img {
  width: 1200px;
  height: auto;
}

.common {
  float: left;
  width: 100%;
  height: 100%;
}

footer {
  font-weight: bold;
  margin-top: 15px;
  float: left;
  width: 100%;
  height: 100px;
  background-color: #5d7ab8;
  text-align: center;
}

footer p {
  margin-top: 40px;
}
